<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>95560829674-d1e3vn4mpuh5643ln8h6j9l10qu7gon9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.95560829674-d1e3vn4mpuh5643ln8h6j9l10qu7gon9</string>
	<key>API_KEY</key>
	<string>AIzaSyALl1RIgzU4xoikKtXM4GHQsriQC_qhFHw</string>
	<key>GCM_SENDER_ID</key>
	<string>95560829674</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fernando.herbs</string>
	<key>PROJECT_ID</key>
	<string>herbs-f67d0</string>
	<key>STORAGE_BUCKET</key>
	<string>herbs-f67d0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:95560829674:ios:0d6ee3c0837cc2aa52a593</string>
</dict>
</plist>